{% extends 'i_blog/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}




{% block content %}
<section class="section1">
  <div class="wrapper ">
    <div class="box1 box">
      <p >Are You</p>
    </div>
    <div class="box2 box">
      <p class="vertical_text">
        Struggling to
      </p>
    </div>
    <div class="box3 box">
      <p class="vertical_text">
        Keep Your
      </p>
    </div>
    <div class="box4 box">
      <p>Job Applications</p>
    </div>
    <div class="box5 box">
      <p>Organized ?</p>
    </div>
  </div>
</section> 


<div class="parallax-container">
  <div class="parallax"><img src="{% static 'i_blog/images/home3.jpg' %}"></div>
  
</div>



 <section class="section2">
  <div class="float_cell overlap_left large">
    What does this website do?
  </div>
  <div class="float_cell small">
    It helps you to keep track of all the jobs that you apply for.
  </div>
</section>

<div class="parallax-container">
  <div class="parallax"><img src="{% static 'i_blog/images/home2.jpg' %}"></div>
</div>

<section class="section3">
  <h1 class="white-text center underline">Features</h1>
  <div class="wrapper2 center">
    <div class="feature1 feature z-depth-5">
      Keep Track of All Your Applications Anywhere, Anytime.
    </div>
    <div class="feature2 feature z-depth-5">
      Edit Your Applications on the Fly
    </div>
    <div class="feature3 feature z-depth-5">
      Save Different Resume for Different Applications.
    </div>
  </div>
</section>





{% endblock %}