{% extends 'i_blog/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Password Reset
{% endblock %}
{% block content %}
<div class="container">
    <div class="container hover_shadow center p-100 mt-30">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row ">
                <div class="input-field col s12">
                    <label for="email">Email</label>
                    {{form.email}}
                </div>
            </div>
            <button class="btn" type="submit">Send link</button>
        </form>
    </div>
</div>
{% endblock %}